[Unit]
Description="Run send_daily_helpdesk_timeoff_today_report.service Monday through Friday at 5:20 AM"

[Timer]
OnCalendar=Mon..Fri *-*-* 05:20:00 America/Los_Angeles
# Add a randomized activation delay of up to 1 minute to avoid activating
# multiple timers at exactly the same time
RandomizedDelaySec=1m

[Install]
WantedBy=timers.target