[Unit]
Description="Run send_pr_signature_reminders.service Monday through Friday at 5:30 AM"

[Timer]
OnCalendar=Mon..Fri *-*-* 05:30:00 America/Los_Angeles
# Add a randomized activation delay of up to 1 minute to avoid activating
# multiple timers at exactly the same time
RandomizedDelaySec=1m

[Install]
WantedBy=timers.target