[Unit]
Description="Run send_is_timeoff_next_week_report.service every Friday at 5:40 AM"

[Timer]
OnCalendar=Fri *-*-* 05:40:00 America/Los_Angeles
# Add a randomized activation delay of up to 1 minute to avoid activating
# multiple timers at exactly the same time
RandomizedDelaySec=1m

[Install]
WantedBy=timers.target