[Unit]
Description="Run send_weekly_step_reminders.service every Monday at 5:10 AM"

[Timer]
OnCalendar=Mon *-*-* 05:10:00 America/Los_Angeles
# Add a randomized activation delay of up to 1 minute to avoid activating
# multiple timers at exactly the same time
RandomizedDelaySec=1m

[Install]
WantedBy=timers.target